torch
numpy
opencv-python
Pillow
matplotlib
tqdm
albumentations
segmentation-models-pytorch
ultralytics
ipywidgets  
IPython
torchvision
timm  
scipy
git+https://github.com/IDEA-Research/GroundingDINO.git
git+https://github.com/facebookresearch/segment-anything.git

 